body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
	
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	
	background-color: #ffffff;
}

.site-navigation,
.reason,
.features-list,
.searching-result ul {
	list-style: none;
}

.main-navigation a {
	color: #000000;
}

.current-page {
	color: #766357;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}
.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.feature-item {
	background-color: #ffffff;
	text-align: center;
}

.reasons h3, 
.searching-result h3 {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.reasons {
	text-align: center;
	background-color: #eeeeee;
	
}

.demo {
	color: #ffffff;
	background-color: #81b3d2;	
}

.demo h3 {
	color: #ffffff;
}

.hashtag {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.footer-copyright b {
	font-weight: 400;
	line-height: 26px;
}

.main-footer a {
	font-weight: 700;
	color: #81b3d2;
	text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus {
	color: #669ec0;
	text-decoration: none;
}

.main-footer ul {
	list-style: none;
	text-align: center;
}
.modal-searching {
	text-align: center;
	color: #000000;
	font-weight: 700;
	line-height: 26px;
	background-color: #ffffff;
}

.searching-form input[type="text"],
.searching-form input[type="number"] {
	font: inherit;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
	border: none;
}

.searching-form input[type="text"]:hover,
.searching-form input[type="number"]:hover {
	background-color: #ebebeb;
}
.searching-form input[type="text"]:focus,
.searching-form input[type="number"]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.button {
	font: inherit;
	font-size: 21px;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #81b3d2;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.searching-result {
	background-color: #ffffff;
}

.hotel-name:hover,
.hotel-name:focus {
	outline: none;
	color: #81b3d2;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.more-info {
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
}

.more-info:hover,
.more-info:focus {
	background-color: #669ec0;
}
.more-info:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.reserve {
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	background-color: #766357;
}

.reserve:hover,
.reserve:focus {
	background-color: #604e43;
}
.reserve:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.ranking {
	color: #666666;
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	background-image: url("../img/welcome-background.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
	position: relative;
	margin-bottom: 61px;
	min-height: 56px;
}

.main-navigation {
	background-color: transparent;

}
	
.site-navigation {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: flex-end;
	height: 56px;
	background-color: #ffffff;
	display: flex;
	
}
.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.main-header-logo {
	position: absolute;
	left: 529px;
	margin-bottom: 61px;
}

.site-navigation li {
	width: 239px;
	text-align: center;
	padding-top: 16px;	
}


.main-header-logo {
	width: 140px;
	height: 71px;	
}

.welcome-part {
	position: relative;	
	margin: 0;
	padding: 0;	
	height: 450px;
}

.welcome-logo {
	width: 459px;
	height: 353px;
	margin-left: 370px;
	margin-bottom: 21px;
	
}

.welcome-part:after {
	content: "";
	background-image: url("../img/intro-mask.svg");
	background-repeat: no-repeat;
	background-position: 50% 100%;
	position: absolute;
	left: 0px;
	bottom: -3px;
	width: 100%;
	height: 59px;
	 
}

.reasons {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
}

.reasons h3,
.reasons h2,
.reasons p {
	margin: 0px;
	padding: 0px;
}

.reasons-intro {
	flex-basis: 100%;
	background-color: #ffffff;
	padding-bottom: 56px;
}

.reasons h2 {
	margin-top: 61px;
	margin-bottom: 38px;
}

.reason {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.reason-item {
	height: 256px;
	width: 400px;
}

.reason .demo {
	width: 100%;
	display: flex;
	flex-wrap: no-wrap;
}

.demo img {
	width: 800px;
}

.reason-item-description {
	padding: 0;
	margin: auto;
	margin-top: 48px;
}

.reason-item-description h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.reason-item-description p {
	margin: 0;
	padding: 0;
	margin-top: 30px;
}



.features-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	height: 330px;
}

.feature-item {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.feature-item:first-child {
	background: #ffffff url("../img/icon-1.svg") no-repeat 162px 60px;
}

.feature-item:nth-child(2) {
	background: #ffffff url("../img/icon-3.svg") no-repeat 162px 60px;
}

.feature-item:nth-child(3) {
	background: #ffffff url("../img/icon-2.svg") no-repeat 162px 60px;
}
	

.feature-item h3 {
	margin: 0;
	padding: 0;
	margin-top: 161px;
	margin-bottom: 33px;
}

.visiting {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: relative;
}

.visiting-intro {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	height: 291px;
	margin: 0;
	padding: 0;
	align-items: center;
}


.visiting-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 568px;
	height: 86px;
	margin: 0;
	padding: 0;
	margin-top: 50px;
	font-size: 21px;
	color: #ffffff;
	background-color: #766357;
}

.visiting-search:hover,
.visiting-search:focus {
	background-color:#604e43;
}

.visiting-search:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.interest {
	margin: 0;
	padding: 0;
	margin-top: 54px;
	margin-bottom: 34px;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	
}

.modal-searching {
	box-sizing: border-box;
	display: flex;
	position: absolute;
	width: 568px;
	height: 395px;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	top: 291px;
	padding: 55px;
}

.searching-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	position: relative;
}

.searching-amount {
	display: flex;
	width: 458px;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.button-increment,
.button-decrement {
	width: 38px;
	height: 38px;
	border: 0;
	color: #a9a9a9;
	font-size: 25px;
	font-weight: 700;
	background-color: #f2f2f2;
	cursor: pointer;
}

.button-increment:hover,
.button-decrement:hover {
	color: #000000;
}

.button-increment:active,
.button-decrement:active {
	color: #81b3d2;
}

.searching-item input[type="text"] {
	box-sizing: border-box;
	color: #000000;
	width: 346px;
	padding: 6px 13px;
}

.searching-amount input[type="text"] {
	box-sizing: border-box;
	height: 38px;
	width: 38px;
	padding: auto;
	padding-left: 13px;
}

.searching-amount .searching-item {
	margin-bottom: 0px;
}

.searching-item svg {
	position: absolute;
	right: 9px;
	cursor: pointer;
}

.searching-item svg:hover path,
.searching-item svg:focus path {
	fill: #000000;
}

.searching-item svg:active path {
	fill: #81b3d2;
}

label[for="searching-number-of-adults"] {
	margin-right: 41px;
}

label[for="searching-number-of-children"] {
	margin-right: 27px;
}

.searching-form .button {
	width: 100%;
	height: 58px;
	margin: 0;
	margin-top: 54px;
}

.main-footer {
	display: flex;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	height: 594px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;	
}

.footer-content {
	display: flex;
	background-color: #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0;
}

.hotel-footer {
	display: flex;
	background-color: #ffffff;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0;
}	

.footer-hashtag {
	margin-left: 132px;
	margin-right: 256px;
	margin-top: 51px;
}

.footer-social {
	width: 150px;
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 36px;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: 228px;
	margin-top: 39px;
}

.footer-copyright b {
	margin: 0;
	padding: 0;
	display: block;
	margin-right: 8px;
}

.footer-copyright a {
	width: 115px;
	height: 41px;
}	

.footer-copyright a:hover path,
.footer-copyright a:focus path {
	fill: #81b3d2;
}

.footer-copyright a:active path {
	fill: #bdbbbc
}

.hotel-container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	background-image: url("../img/filter_background.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.hotel-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.hotels-list-item {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 150px;
	border-top: 1px solid #e5e5e5;
}

.hotels-list-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}
	