body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
	
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	
	background-color: #ffffff;
}

.site-navigation,
.reason,
.features-list,
.searching-result ul {
	list-style: none;
}

.main-navigation a {
	color: #000000;
}

.current-page {
	color: #766357;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}
.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.feature-item {
	background-color: #ffffff;
	text-align: center;
}

.reasons h3, 
.searching-result h3 {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.reasons {
	text-align: center;
	background-color: #eeeeee;
	
}

.demo {
	color: #ffffff;
	background-color: #81b3d2;	
}

.demo h3 {
	color: #ffffff;
}

.hashtag {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.footer-copyright b {
	font-weight: 400;
	line-height: 26px;
}

.main-footer a {
	font-weight: 700;
	color: #81b3d2;
	text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus {
	color: #669ec0;
	text-decoration: none;
}

.main-footer ul {
	list-style: none;
	text-align: center;
}
.modal-searching {
	text-align: center;
	color: #000000;
	font-weight: 700;
	line-height: 26px;
	background-color: #ffffff;
}
.modal-searching h2 {
	font-size: 21px;
	color: #ffffff;
	background-color: #766357;
	text-align: center;
}

.modal-searching h2:hover,
.modal-searching h2:focus {
	background-color:#604e43;
}

.modal-searching h2:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.searching-form input[type="text"],
.searching-form input[type="number"] {
	font: inherit;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
	border: none;
}

.searching-form input[type="text"]:hover,
.searching-form input[type="number"]:hover {
	background-color: #ebebeb;
}
.searching-form input[type="text"]:focus,
.searching-form input[type="number"]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.button {
	font: inherit;
	font-size: 21px;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #81b3d2;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.searching-result {
	background-color: #ffffff;
}

.hotel-name:hover,
.hotel-name:focus {
	outline: none;
	color: #81b3d2;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.more-info {
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
}

.more-info:hover,
.more-info:focus {
	background-color: #669ec0;
}
.more-info:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.reserve {
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	background-color: #766357;
}

.reserve:hover,
.reserve:focus {
	background-color: #604e43;
}
.reserve:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.ranking {
	color: #666666;
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	background-image: url("../img/welcome-background.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
	position: relative;
	margin-bottom: 61px;
	min-height: 56px;
}

.main-navigation {
	background-color: transparent;

}
	
.site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: flex-end;
	height: 56px;
	background-color: #ffffff;
	display: flex;
	
}
.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.main-header-logo {
	position: absolute;
	left: 529px;
	margin-bottom: 61px;
}

.site-navigation li {
	width: 239px;
	text-align: center;
	padding-top: 16px;	
}


.main-header-logo {
	width: 140px;
	height: 71px;	
}

.welcome-part {
	position: relative;	
	margin: 0;
	padding: 0;	
	height: 450px;
}

.welcome-logo {
	width: 459px;
	height: 353px;
	margin-left: 370px;
	margin-bottom: 21px;
	
}

.welcome-part:after {
	content: "";
	background-image: url("../img/intro-mask.svg");
	background-repeat: no-repeat;
	background-position: 50% 100%;
	position: absolute;
	left: 0px;
	bottom: -2px;
	width: 100%;
	height: 59px;
	 
}

.reasons {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
}

.reasons h3,
.reasons h2,
.reasons p {
	margin: 0px;
	padding: 0px;
}

.reasons-intro {
	flex-basis: 100%;
	background-color: #ffffff;
	padding-bottom: 56px;
}

.reasons h2 {
	margin-top: 61px;
	margin-bottom: 38px;
}

.reason {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.reason-item {
	height: 256px;
	width: 400px;
}

.reason .demo {
	width: 100%;
	display: flex;
}



.features-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	height: 330px;
}

.feature-item {
	width: 400px;
}

.visiting {
	margin: 0;
	padding: 0;
	position: relative;
}

.visiting-intro {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 291px;
	margin: 0;
	padding: 0;
	align-items: center;
	
}

.interest {
	margin: 0;
	padding: 0;
	margin-top: 54px;
	margin-bottom: 34px;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}



.modal-searching {
	position: absolute;
	left: 50%;
}

.main-footer {
	display: flex;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	height: 594px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;	
}

.footer-content {
	display: flex;
	background-color: #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0;
}

.hotel-footer {
	display: flex;
	background-color: #ffffff;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0;
}	

.footer-hashtag {
	margin-left: 132px;
	margin-right: 256px;
	margin-top: 51px;
}

.footer-social {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 36px;
}

.footer-copyright {
	margin-left: 228px;
	margin-top: 39px;
}

.hotel-container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	background-image: url("../img/filter_background.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.hotel-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.hotels-list-item {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 150px;
	border-top: 1px solid #e5e5e5;
}

.hotels-list-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}
	