body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
	
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	
	background-color: #ffffff;
}

.site-navigation,
.reason,
.features-list,
.searching-result ul {
	list-style: none;
}

.main-navigation a {
	color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}
.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.feature-item {
	background-color: #ffffff;
	text-align: center;
}

.reasons h3, 
.searching-result h3 {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.reasons {
	text-align: center;
	background-color: #eeeeee;
	
}

.demo {
	color: #ffffff;
	background-color: #81b3d2;	
}

.demo h3 {
	color: #ffffff;
}

.hashtag {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.footer-copyright b {
	font-weight: 400;
	line-height: 26px;
}

.main-footer a {
	font-weight: 700;
	color: #81b3d2;
	text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus {
	color: #669ec0;
	text-decoration: none;
}

.main-footer ul {
	list-style: none;
	text-align: center;
}
.modal-searching {
	text-align: center;
	color: #000000;
	font-weight: 700;
	line-height: 26px;
	background-color: #ffffff;
}

.searching-form input[type="text"],
.searching-form input[type="number"] {
	font: inherit;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
	border: none;
}

.searching-form input[type="text"]:hover,
.searching-form input[type="number"]:hover {
	background-color: #ebebeb;
}
.searching-form input[type="text"]:focus,
.searching-form input[type="number"]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.button {
	font: inherit;
	font-size: 21px;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #81b3d2;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.searching-result {
	background-color: #ffffff;
}

.hotel-name h3:hover,
.hotel-name h3:focus {
	outline: none;
	color: #81b3d2;
}

.hotel-name h3:active {
	color: rgba(0, 0, 0, 0.3);
}

.more-info {
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
}

.more-info:hover,
.more-info:focus {
	background-color: #669ec0;
}
.more-info:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.reserve {
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	background-color: #766357;
}

.reserve:hover,
.reserve:focus {
	background-color: #604e43;
}
.reserve:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.ranking {
	color: #666666;
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	background-image: url("../img/welcome-background.jpg");
	background-repeat: no-repeat;
	background-position: center -50px;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 56px;
}

.main-navigation {
	padding-left: 72px;
	padding-right: 72px;
	background-color: #ffffff;
}
	
.site-navigation {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: flex-end;
	height: 56px;
	background-color: #ffffff;
	display: flex;
	
}

.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.main-header-logo {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 529px;
	margin-bottom: 61px;
}

.site-navigation li {
	width: 239px;
	padding-top: 16px;
}

.main-header-logo {
	width: 140px;
	height: 71px;	
}

.site-navigation-left {
	text-align: left;
}

.site-navigation-right {
	text-align: right;
}

.welcome-part {
	position: relative;	
	margin: 0;
	padding: 0;	
	height: 450px;
	padding-bottom: 80px;
}

.welcome-logo {
	width: 459px;
	height: 353px;
	margin-left: 370px;
	margin-top: 61px;
	
	
}

.welcome-part:after {
	content: "";
	background-image: url("../img/intro-mask.svg");
	background-repeat: no-repeat;
	background-position: 50% 100%;
	position: absolute;
	left: 0px;
	bottom: -3px;
	width: 100%;
	height: 59px;
	 
}

.reasons {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
}

.reasons h3,
.reasons h2,
.reasons p {
	margin: 0px;
	padding: 0px;
}

.reasons-intro {
	flex-basis: 100%;
	background-color: #ffffff;
	padding-bottom: 56px;
}

.reasons h2 {
	margin-top: 61px;
	margin-bottom: 38px;
}

.reason {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.reason-item {
	height: 256px;
	width: 400px;
}

.reason .demo {
	width: 100%;
	display: flex;
}

.demo img {
	width: 800px;
}

.reason-item-description {
	padding: 0;
	margin: auto;
	margin-top: 48px;
}

.reason-item-description h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.reason-item-description p {
	margin: 0;
	padding: 0;
	margin-top: 30px;
}



.features-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	height: 330px;
}

.feature-item {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.feature-item:first-child {
	background: #ffffff url("../img/icon-1.svg") no-repeat 162px 60px;
}

.feature-item:nth-child(2) {
	background: #ffffff url("../img/icon-3.svg") no-repeat 162px 60px;
}

.feature-item:nth-child(3) {
	background: #ffffff url("../img/icon-2.svg") no-repeat 162px 60px;
}
	

.feature-item h3 {
	margin: 0;
	padding: 0;
	margin-top: 161px;
	margin-bottom: 33px;
}

.visiting {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: relative;
}

.visiting-intro {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	height: 291px;
	margin: 0;
	padding: 0;
	align-items: center;
}


.visiting-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 568px;
	height: 86px;
	margin: 0;
	padding: 0;
	margin-top: 50px;
	font-size: 21px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #766357;
	border: none;
}

.visiting-search:hover,
.visiting-search:focus {
	background-color:#604e43;
}

.visiting-search:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.interest {
	margin: 0;
	padding: 0;
	margin-top: 54px;
	margin-bottom: 34px;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	
}

.modal-searching {
	box-sizing: border-box;
	display: flex;
	position: absolute;
	width: 568px;
	height: 395px;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	top: 291px;
	padding: 55px;
}

.searching-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	position: relative;
}

.searching-amount {
	display: flex;
	width: 458px;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.button-increment,
.button-decrement {
	width: 38px;
	height: 38px;
	border: 0;
	color: #a9a9a9;
	font-size: 25px;
	font-weight: 700;
	background-color: #f2f2f2;
	cursor: pointer;
}

.button-increment:hover,
.button-decrement:hover {
	color: #000000;
}

.button-increment:active,
.button-decrement:active {
	color: #81b3d2;
}

.searching-item input[type="text"] {
	box-sizing: border-box;
	color: #000000;
	width: 346px;
	padding: 6px 13px;
}

.searching-amount input[type="text"] {
	box-sizing: border-box;
	height: 38px;
	width: 38px;
	padding: auto;
	padding-left: 13px;
}

.searching-amount .searching-item {
	margin-bottom: 0px;
}

.searching-date {
	margin: 0;
	padding: 0;
	background-color: transparent;
	position: absolute;
	right: 9px;
	display: flex;
	border: none;
	cursor: pointer;
}

.searching-date-calendar:hover path,
.searching-date-calendar:focus path {
	fill: #000000;
}

.searching-date-calendar:active path {
	fill: #81b3d2;
}

label[for="searching-number-of-adults"] {
	margin-right: 41px;
}

label[for="searching-number-of-children"] {
	margin-right: 27px;
}

.searching-form .button {
	width: 100%;
	height: 58px;
	margin: 0;
	margin-top: 54px;
}

.main-footer {
	display: flex;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	height: 594px;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;	
}

.hotel-footer {
	display: flex;
	background-color: #ffffff;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0;
}	

.footer-hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin-left: 132px;
	margin-top: 51px;
}

.footer-social {
	width: 150px;
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 36px;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
	display: flex;
	margin: 0;
	padding: 0;
	margin-right: 101px;
	margin-top: 39px;
}

.footer-copyright b {
	margin: 0;
	padding: 0;
	display: block;
	margin-right: 8px;
}

.footer-copyright-link {
	width: 115px;
	height: 41px;
}	

.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
	fill: #81b3d2;
}

.footer-copyright-link:active path {
	fill: #bdbbbc
}

.hotel-container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	background-image: url("../img/filter_background.jpg");
	background-repeat: no-repeat;
	background-position: center -220px;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.hotels-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.hotels-list-item {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 150px;
	border: 1px solid #e5e5e5;
}

.hotels-list-item img {
	width: 135px;
	height: 90px;
	margin-left: 72px;
	margin-right: 30px;
}

.hotels-item-description {
	display: flex;
	width: 270px;
	min-height: 90px;
	flex-wrap: wrap;
	align-content: space-between;
	margin: 0;
	padding: 0;
}

.hotel-name h3 {
	margin: 0;
	padding: 0;
	width: 100%;
}

.hotels-item-description span {
	margin: 0;
	padding: 0;
	min-width: 116px;
}

.reserve {
	margin: 0;
	padding: 7px 16px;
}

.more-info {
	padding: 7px 17px;
	margin-right: 7px;
}

.ranking {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	height: 90px;
	margin-left: auto;
	margin-right: 73px;
	background-color: transparent;
}

.ranking-star svg {
	margin-left: 6px;
}

.ranking-num {
	margin: 0;
	padding: 5px 13px 6px 16px;
	background-color: #f2f2f2;
}

.hotel-category {
	width: 116px;
	margin: 0;
	padding: 0;
}

.sorting {
	display: flex;
	align-items: center;
	height: 87px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.sorting span {
	font-size: 21px;
	text-transform: uppercase;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	margin-left: 72px;
	margin-right: 49px;
}

.sorting-form {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
}

.sorting-method {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 40px;
}

.sorting-method-item {
	margin: 0;
	border: none;
	background-color: transparent;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	margin-right: 33px;
	cursor: pointer;
}

.sorting-method-item {
	border-bottom: 1px dotted #81b3d2;
	color: rgba(0, 0, 0, 0.3);
}



.sorting-method-item:disabled {
	color: #81b3d2;
	border: none;
}

.sorting-method-item:hover,
.sorting-method-item:focus {
	border-bottom: 1px dotted #81b3d2;
	color: #81b3d2;
}

.sorting-method-item:active {
	color: #000000;
	border: none;
}

.sorting-rank {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: 73px;
}

.sorting-rank button {
	border: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
	margin-left: 12px;
	cursor: pointer;
}

.sorting-rank-indicator:hover path,
.sorting-rank-indicator:focus path {
	fill: #000000;
}

.sorting-rank-indicator:active path {
	fill: #81b3d2;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
	color: #766357;
}

.filter {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	width: 100%;
	padding-top: 30px;
	height: 217px;
}

	
.filter fieldset {
	margin: 0;
	padding: 0;
	
	border: none;
}

.filter fieldset:first-child {
	margin-left: 72px;
	margin-right: 115px;
}

.filter legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	margin-top: 28px;
}

.filter-condition {
	margin-bottom: 29px;
}

.price-range {
	margin: 0;
	padding: 0;
	width: 330px;
	
	margin-left: auto;
	margin-right: 72px;
	margin-bottom: 29px;

	color: #ffffff;
	text-transform: uppercase;
}

.price-range-title {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.price-controls {
	position: relative;
	
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	
	font-size: 0;
	
}

.price-controls::after {
	content: "";
	position: absolute;
	
	width: 2px;
	height: 22px;
	
	background-color: #ffffff;
	
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
 
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;
	
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	
	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
  border: 9px solid #ffffff;
  
}

.filter-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #ffffff;
	color: #000000;
}

.filter-condition {
	position: relative;
	padding-left: 40px;
	
}

.filter-condition label {
	position: relative;
	display: block;

	cursor: pointer;
}

.filter-input-checkbox + label:before {
	content: "";
	position: absolute;
	left: -40px;

	width: 23px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: left top;
}

.filter-input-checkbox:checked + label:before {
	content: "";
	position: absolute;
	left: -40px;

	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: left top;
}

.filter-input:disabled + label:before {
	content: "";
	position: absolute;
	left: -40px;

	width: 23px;
	height: 23px;

	background-image: url("../img/checkbox-off2.svg");
	background-repeat: no-repeat;
	background-position: left top;
}
	




	